
.block-tracking {

	&__head {
		font-family: 'Gilroy SemiBold';
		line-height: 1.43;
	}

	&__list {
		margin-top: 20px;
	}
}

.list-tracking {
	@include alignJustify(space-between, flex-start);

	&__item {
		width: 100%;
		max-width: 344px;
		height: 80px;
		margin-bottom: 16px;
		padding: 0 4.9% 0 4.2%;
		@include alignJustify(flex-start, center);
		text-decoration: none;
		background-color: $colorPeriwinkleCrayola;

		&-img {
			max-width: 80px;
		}

		&-name {
			width: calc(100% - (80px + 8px));
			padding-left: 10.5%;
			font-family: 'Gilroy SemiBold';
			color: $colorDarkGreyBlue;
		}

		&-icon {
			width: 8px;
			height: 13px;
		}

		&:nth-last-child(-n+2) {
			margin-bottom: 0;
		}
	}

	@include respond($tabletPortrait) {

		&__item {
			max-width: 100%;

			&:nth-last-child(2) {
				margin-bottom: 16px;
			}
		}
	}

	@include respond($phoneSm) {

		&__item {
			height: 65px;
			padding: 0 8%;

			&-img {
				max-width: 70px;
			}

			&-name {
				width: calc(100% - (70px + 8px));
				padding-left: 8.5%;
			}
		}
	}
}