
.select {
	position: relative;
	width: 100%;
	height: 71px;
	
	border: 1px solid $colorPeriwinkleCrayola_EB;
	color: $colorDarkGreyBlue;
	transition: all $varTrs;
	outline: none;

  &__head {
  	display: flex;
  	align-items: center;
  	width: 100%;
  	height: 100%;
  	padding: 0 20px 0 32px;
  	cursor: pointer;

  	&:after {
  		@include content('', auto, 37%);
	    right: 20px;
	    width: 12px;
	    height: 9px;
	    background-image: url(../img/icon-select.svg);
	    transform: translateY(50%);
	    transition: all $varTrs;
	  }

	  &.open:after {
	    transform: translateY(50%) rotate(180deg);
		}
	}

  &__list {
  	display: none;
  	position: absolute;
	  width: auto;
	  left: -1px;
	  right: -1px;
	  top: 71px;
	  padding-top: 9px;
	  z-index: 5;
	  background-color: $colorWhite;
	  border: 1px solid $colorPeriwinkleCrayola_EB;
	  border-top: none;
  }

  &__item {
  	padding: 16px 32px;
		cursor: pointer;
		transition: all $varTrs;

		&:hover {
			color: $colorWhite;
			background-color: $colorBlackSea;
		}
  }
}