
mixin attitude
  section.attitude
    .container.row.row--between
      .section__frame
        img(srcset=`img/img-frame.webp 1x, img/img-frame-2x.webp 2x` src=`img/img-frame.webp` loading="lazy")
        .video.video--frame.section__frame-video
          .video__play
            a(data-src="https://www.youtube.com/embed/Zv11L-ZfrSg" class="video__play-link" data-fancybox)
              +icon('icon-video-play')
          .video__content
            .video__content-head Видео презентация
            .video__content-text С учетом международной обстановки, сплоченность команды способствует подготовке и реализации форм воздействия.
            .video__content-time 1:22
      .section__content
        h2.section-header Отношение к делу и клиентам
        p С учётом сложившейся международной обстановки, повышение уровня гражданского сознания играет важную роль в формировании укрепления моральных ценностей. В своём стремлении повысить качество жизни, они забывают, что повышение уровня гражданского сознания говорит о возможностях переосмысления внешнеэкономических политик. Принимая во внимание показатели успешности, понимание сути ресурсосберегающих технологий для вывода текущих активов.
        p Есть над чем задуматься: сделанные на базе интернет-аналитики выводы неоднозначны и будут объективно рассмотрены соответствующими инстанциями. Каждый из нас понимает очевидную вещь: убеждённость некоторых оппонентов требует определения и уточнения модели развития. В своём стремлении улучшить пользовательский опыт мы упускаем, что тщательные исследования конкурентов, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут заблокированы в рамках своих собственных рациональных ограничений.
      