
mixin company
  section.company
    .container.row
      .company__img.element-animation
        img(srcset=`img/img-company-container.webp 1x, img/img-company-container-2x.webp 2x` src=`img/img-company-container.webp` loading="lazy")
      .company__content
        h2.section-header Компания «40 футов»
        p С учётом сложившейся международной обстановки, повышение уровня гражданского сознания играет важную роль в формировании укрепления моральных ценностей. В своём стремлении повысить качество жизни, они забывают, что повышение уровня гражданского сознания говорит о возможностях переосмысления внешнеэкономических политик. Принимая во внимание показатели успешности, понимание сути ресурсосберегающих технологий для вывода текущих активов.
        p С учётом сложившейся международной обстановки, сплочённость команды профессионалов способствует подготовке и реализации форм воздействия. В частности, внедрение современных методик прекрасно подходит для реализации вывода текущих активов.
        a(href="#" class="company__content-readmore") Подробнее о компании