
mixin container-rental(headerName)
  section.container-rental
    .container
      .section-head.section-head--center
        h2.section-header.section-head__header= headerName
        .section-head__content
          .section-head__content-text Вы можете арендовать контейнер или купить по запросу в России или любом другом месте на карте
    //- maps
    .container-rental-maps
      img(src="img/img-world-map.svg" alt="" loading="lazy")
      .wrapper-maps-label.wrapper-maps-label--one
        .maps-label.js-maps-label 8
        //- hint
        +maps-hint('maps-hint--top wrapper-maps-label__hint wrapper-maps-label__hint--top')
      .wrapper-maps-label.wrapper-maps-label--two
        .maps-label.js-maps-label 3
        //- hint
        +maps-hint('maps-hint--top wrapper-maps-label__hint wrapper-maps-label__hint--top')
      .wrapper-maps-label.wrapper-maps-label--three
        .maps-label.js-maps-label 4
        //- hint
        +maps-hint('maps-hint--top wrapper-maps-label__hint wrapper-maps-label__hint--top')
      .wrapper-maps-label.wrapper-maps-label--four
        .maps-label.js-maps-label 1
        //- hint
        +maps-hint('maps-hint--middle wrapper-maps-label__hint wrapper-maps-label__hint--middle')
      .wrapper-maps-label.wrapper-maps-label--five
        .maps-label.js-maps-label 5
        //- hint
        +maps-hint('maps-hint--bottom wrapper-maps-label__hint wrapper-maps-label__hint--bottom')
      .wrapper-maps-label.wrapper-maps-label--six
        .maps-label.js-maps-label 4
        //- hint
        +maps-hint('maps-hint--middle-left wrapper-maps-label__hint wrapper-maps-label__hint--middle-left')
      .wrapper-maps-label.wrapper-maps-label--seven
        .maps-label.js-maps-label 2
        //- hint
        +maps-hint('maps-hint--middle-left wrapper-maps-label__hint wrapper-maps-label__hint--middle-left')
      .wrapper-maps-label.wrapper-maps-label--eight
        .maps-label.js-maps-label 7
        //- hint
        +maps-hint('maps-hint--top-left wrapper-maps-label__hint wrapper-maps-label__hint--top-left')
      // add
      .rental-maps-add
        a(href="#" class="hint-maps-add")
          span.hint-maps-add__icon
            +icon('icon-add-loading')
          span.hint-maps-add__text Показать еще

mixin maps-hint(className)
  div(class=`maps-hint ${className}`)
    .maps-hint__head
      .maps-hint__country
        .maps-hint__country-icon
          +icon('icon-maps-hint-country-uz')
        .maps-hint__country-name Азия, Узбекистан, Ташкент
      .maps-hint__icon-change
        +icon('icon-maps-hint-change')
    .maps-hint__body
      .maps-hint__coordinates 41.3111580, 69.2797370
      //- list
      .list-goods-maps-hint.maps-hint__list
        .list-goods-maps-hint__item
          .list-goods-maps-hint__img
            img(srcset=`img/list-goods-maps-hint-20.webp 1x, img/list-goods-maps-hint-20-2x.webp 2x` src=`img/list-goods-maps-hint-20.webp`)
          .list-goods-maps-hint__content
            .list-goods-maps-hint__name Контейнер 20'HC
            .list-goods-maps-hint__availability
              span.list-goods-maps-hint__availability-icon
                +icon('icon-maps-hint-yes')
              span.list-goods-maps-hint__availability-text В наличии
        .list-goods-maps-hint__item
          .list-goods-maps-hint__img
            img(srcset=`img/list-goods-maps-hint-40.webp 1x, img/list-goods-maps-hint-40-2x.webp 2x` src=`img/list-goods-maps-hint-40.webp`)
          .list-goods-maps-hint__content
            .list-goods-maps-hint__name Контейнер 40'HC
            .list-goods-maps-hint__availability
              span.list-goods-maps-hint__availability-icon
                +icon('icon-maps-hint-yes')
              span.list-goods-maps-hint__availability-text В наличии
      //- manager
      .manager-maps-hint.maps-hint__manager
        .manager-maps-hint__head Менеджер региона
        .manager-maps-hint__profile
          .manager-maps-hint__avatar
            img(srcset=`img/img-avatart.webp 1x, img/img-avatart-2x.webp 2x` src=`img/img-avatart.webp`)
            .manager-maps-hint__status.manager-maps-hint__status--online
          .manager-maps-hint__data
            .manager-maps-hint__name Сарвар Каримов
            .manager-maps-hint__position Руководитель по странам СНГ и СА
      a(href="#" class="maps-hint__link-button") Получить консультацию