
mixin mob-nav()
	.menu-mobile
		.menu-mobile__header
			.menu-mobile__logo
				img(src="img/img-logo-white.svg" alt="")
			.menu-mobile__close
				+icon('icon-menu-close')
		.menu-mobile__inner
		.menu-mobile__bottom
			.menu-mobile__language
				span.menu-mobile__language-text Выбрать язык: