
mixin security-guarantee
  section.security-guarantee
    .container
      .section-head.section-head--center
        h2.section-header.section-head__header Гарантия безопасности
      //- content
      .security-guarantee-content
        p С учётом сложившейся международной обстановки, повышение уровня гражданского сознания играет важную роль в формировании укрепления моральных ценностей. Принимая во внимание показатели успешности, понимание сути ресурсосберегающих вывода текущих активов.
        ul
          li Удовлетворяют стандартам ISO (ISO 668, 6346, 1161, 1496-1,830);
          li Герметичные (WWT - wind&water tight contition - водо и ветронепроницаемые);
          li С действующей табличкой КБК (соответствует международной Конвенции по безопасности контейнеров=CSC plate valid) - минимум 12 месяцев;
          li С действующим префиксом (зарегистрированным BIC кодом);
          li Соответствуют TIR конвенции (для перевозки автотранспортом);
          li Соответствуют UIC кодам 592-1 (для первозки по ж/д).
      //- link download
      .security-guarantee-download
        a(href="download/img-list-container-20.png" class="security-guarantee-download__link" download)
          span.security-guarantee-download__link-text Договор купли - продажи контейнеров 
          span.security-guarantee-download__link-icon
            +icon('icon-download')
        a(href="download/img-list-container-20.png" class="security-guarantee-download__link" download)
          span.security-guarantee-download__link-text Договор аренды контейнеров
          span.security-guarantee-download__link-icon
            +icon('icon-download')