
include _slider-staff

mixin staff
  section.staff
    .container
      .section-head
        h2.section-header.section-head__header Мы - это люди
        .section-head__content
          .section-head__content-text С учётом сложившейся международной обстановки, повышение уровня гражданского сознания играет важную роль в формировании укрепления моральных ценностей. Принимая во внимание показатели успешности, понимание сути ресурсосберегающих технологий для вывода текущих активов.
    //- list staff
    +slider-staff('staff__slider-staff')