extends template/_404

include modules/_header-inner-img

block variables
  - var title = '404'


block content
  //- wrapper head
  .wrapper-head.wrapper-head--404
    //- header
    +header-inner-img
    //- intro
    section.page-intro.page-intro--404
      .container
        .block-404
          .block-404__head 404
          .block-404__text Страница не найдена
          .block-404__description С учётом сложившейся международной обстановки, повышение уровня гражданского сознания играет важную роль в формировании укрепления моральных ценностей.
          a(href="#" class="block-404__link") Вернуться на главную
      