
include mixins/_icon
include modules/_modal

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title Forms
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content="IE = edge")
    <![endif]-->
    meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1")

    link(rel="stylesheet" href="css/vendor.min.css")
    link(rel="stylesheet" href="css/main.min.css")

    <!--[if lt IE 9]>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
    <![endif]-->
    
    style.
      nav {
        margin: 10% 0 0 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
  body
    nav
      a(href="#modal-thanks" data-fancybox="modal-thanks") Спасибо
      a(href="#modal-consult" data-fancybox="modal-consult") Получить консультацию
      a(href="#modal-tracking" data-fancybox="modal-tracking") Отследить контейнер по номеру
      a(href="#modal-calculation" data-fancybox="modal-calculation") Расчет вместимости контейнера
      a(href="#modal-result" data-fancybox="modal-result") Получить результат


    // thanks
    +modal-thanks

    // consult
    +modal-consult

    // modal-tracking
    +modal-tracking

    // modal-calculation
    +modal-calculation

    // modal-result
    +modal-result

    // scripts
    script(src="js/vendor.js" defer)
    script(src="js/common.js" defer)