doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title Navigation
    style.
      nav {
        margin: 10% 0 0 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
  body
    nav
      a(href="home.html" target="_blank") Главная
      a(href="servises.html" target="_blank") Услуги
      a(href="container.html" target="_blank") Контейнеры
      a(href="container-detail.html" target="_blank") Контейнеры (детальная)
      a(href="about.html" target="_blank") О компании
      a(href="404.html" target="_blank") 404
      a(href="contact.html" target="_blank") Контакты
      a(href="servises_rent.html" target="_blank") Аренда контейнеров
      a(href="servises_sell.html" target="_blank") Продажа контейнеров
      a(href="servises_transportation.html" target="_blank") Контейнерные перевозки по территории России
      a(href="form.html" target="_blank") Формы
