
.page-intro {
	padding: 81px 0 84px;
	width: 100%;
	z-index: 1;

	&--color-white {
		padding: 111px 0 130px;
		color: $colorWhite;
	}

	&--404 {
		margin: auto;
		padding: 60px 0 60px;
		background-image: url(../img/img-bg-404.webp);
    background-size: cover;
    background-repeat: no-repeat;
		color: $colorWhite;
	}

	&--periwinkle-crayola {
		background-color: $colorPeriwinkleCrayola;
	}

	&__header {
		margin-top: 26px;
		max-width: 57%;
	}

	&__description {
		max-width: 68%;
		margin-top: 26px;
	}

	@include respond($tabletLandscape) {
		padding: 40px 0;

		&__description {
			max-width: 100%;
		}

		&__header {
			max-width: 100%;
		}
	}

	@include respond($tabletPortrait) {
		padding: 49px 0 56px;

		&--404 {
			// padding: 98px 0 145px
			padding: 98px 0 90px
		}

		&__header {
			margin-top: 22px;
		}

	}

	@include respond($phoneSm) {
		padding: 46px 0 50px;

		&__header {
			margin-top: 5px;
		}

		&__description {
			margin-top: 13px;
			line-height: 1.43;
		}
	}
}